*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* for navbar */
#navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar ul
{
    display: flex;
}
#navbar::before
{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a
{
    color: white; 
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover
{
    color: black;
    background-color: white;
}

/* logo for navbar */
#logo
{
    margin: 3px 6px;
}
#logo img
{
    margin: 3px 6px;
    height: 59px;
}

/* for backgroung image */
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.75)),url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: hidden;
} 
