/* for navbar */
#navbar
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar ul
{
    display: flex;
}
#navbar::before
{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li
{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a
{
    color: white; 
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover
{
    color: black;
    background-color: white;
}

/* logo for navbar */
#logo
{
    margin: 3px 6px;
}
#logo img
{
    margin: 3px 6px;
    height: 59px;
}

/* for backgroung image */
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.75)),url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: hidden;
} 

/* for serching train */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    color: #fff;
}
section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.form-container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow:7px 7px 60px #000;
    position: fixed;
}
h1{
    color: #ffffff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.control input{
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 100%;
    color:#000;
    background: #ddd;
    outline: none;
    border: none;
    margin: 1em 0;

}         
.control .btn{
    color: #fff;
    text-transform: uppercase;
    background: crimson;
    opacity: .7;
    transition:opacity .3s ease;
}
.btn:focus{
    opacity: 1;
}
